{% extends 'articles/base.html' %}

{% block content %}
			
			<h2>Where do I start?</h2>
			<ol>
				<li>Sign up and log in</li>
				<li>Click on "Articles" to see your list of articles. It's empty right now</li>
				<li>Upload an academic article in PDF format</li>
				<li>NAPS will extract the important info and classify your document</li>
				<li>If you would like to make changes to the extracted info, just click "Edit"</li>
				<li>That's it! Upload some more documents :)</li>
			</ol>
		</div><!-- /.col-md-8 -->
	</div><!-- /.row -->
</div><!-- /.container.content -->

<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2>What kind of documents can I upload?</h2>
			<p>
				PDF only! This is the most common format for academic articles by a wide margin, so we don't have plans for other formats at the moment. For classification, NAPS is only trained on articles in Science, Technology, Engineering, and Math fields (STEM).
			</p>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2>Can you cite my articles for me?</h2>
			<p>
				Sure! Click the little blue "cite" button next to the article title on the Articles page, or at the bottom of the Article's detail page. You should find both MLA and APA formats there. If something doesn't look right, click "Edit Article" to make changes.
			</p>


{% endblock %}