{% extends 'articles/base.html' %}

{% block content %}
	<div class="jumbotron">
		<h2>Smart PDF Management</h2>
		<p>Academic PDFs come in so many shapes, sizes, and formats that it's hard to keep track. Project NAPS wants to make your life easier by storing and organizing your academic articles. We make it easy to arrange them into fields and projects, search them, and generate citations.</p>
		<p><a class="btn btn-primary btn-lg" href="{% url 'about' %}" role="button">Learn more</a></p>
	</div>
{% endblock %}